<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="apiSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/storagecycle/api/StorageCycleRemoteFacade"
                binding="basicHttpBinding" bindingConfiguration="apiSoapBinding"
                contract="VendingServerService.storageCycleService" name="StorageCycleRemoteFacadePort" />
        </client>
    </system.serviceModel>
</configuration>